.changeset/**
.github/**
.vscode/**
.vscode-test/**
coverage/**
docs/**
node_modules/**
scripts/**
src/**
tests/**
.cursorrules
.bun-version
.nojekyll
.gitignore
index.html
.npmrc
.nvmrc
.oxlintrc.json
*.map
*.ts
**/.vscode-test.*
**/tsconfig.json
PUBLISHING.md
bun.lock
CHANGELOG.md
screenshot.png
